body{
    background-color: #FF9800 !important;
}

h1{
    color: aliceblue;
}

.card {
    background-color: #2C7865 !important;
    color: aliceblue;
    margin-top: 5%;
    margin-bottom: 5%;
}

.book_img{
    height: 500px;
}

.book_list_ver{
    height: 300px;
    width: 300px;
}

.book-cart{
    height: 50px;
    width: 50px;
    float: left;
}

.search_q{
    background-color: #2C7865;
    border-radius: 30px;
}

.custom-table{
    background-color: #2C7865;
}

.btn{
    background-color: #99f767 !important;
    border: solid black;
    color: black !important;
    
    margin-right: 5%;
}

.btn:hover{
    background-color: aliceblue !important;
}

.home-text{
    font-weight: bolder !important;
    text-align: center;
}

.home-p-text{
    font-size: larger;
    text-align: center;
    font-weight: 500;
    color: #f3e3d9;
}

.book_background{
    background-color: #2C7865;
    color: aliceblue;
    border-style: groove;
    border-radius: 30px;
    margin-bottom: 50px;
}

.container-cart{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.custom-table-checkout{
    background-color: #2C7865;
    margin-left: 15%;
    
}